* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}


/*Styling for all buttons*/

.btn {
	padding: 12px 32px;
	border: 4px solid gray;
	font-family: 'Open Sans', sans-serif;
}

.btn-view {
	text-decoration: none;
	color: gray;
	font-size: 20px;
}

/*End for all buttons*/

/*Styling for line*/

.line {
	height: 4px;
	width: 250px;
	background-color: #4d4646;
}	

/*End for line*/

/*Styling for Home*/

.home {
	background-color: red;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

h1, h2 {
	font-family: 'Roboto Mono', monospace;
}

/*End for Home*/

/*Styling for About*/

.aboutMe {
	background-color: green;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.aboutMe > div {
	width: 50vw;
}

.aboutMe > div > p {
	font-family: 'Open Sans', sans-serif;
}

.aboutMe > div > .line {
	margin-left: 200px;
}
/*End for About*/

/*Styling for Projects*/

.projects {
	background-color: blue;
	height: 100vh;
	text-align: center;
}

.proj-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 150px;
	padding: 100px 0;
}

.project1 {
	background: url(../images/project1.jpg);
	background-size: cover;
	background-position: center;
	width: 300px;
	height: 200px;
}

.project2 {
	background: url(../images/project2.jpg);
	background-size: cover;
	background-position: center;
	width: 300px;
	height: 200px;
}

.project3 {
	background: url(../images/project3.jpg);
	background-size: cover;
	background-position: center;
	width: 300px;
	height: 200px;
}

.project4 {
	background: url(../images/project4.jpg);
	background-size: cover;
	background-position: center;
	width: 300px;
	height: 200px;
}

.project5 {
	background: url(../images/project5.jpg);
	background-size: cover;
	background-position: center;
	width: 300px;
	height: 200px;
}

.project6 {
	background: url(../images/project6.jpg);
	background-size: cover;
	background-position: center;
	width: 300px;
	height: 200px;
}

/*End for Projects*/

/*Styling for SKills*/

.skills {
	background-color: yellow;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.skills > div > img {
	width: 750px;
}

.skills > div > h1 {
	
}

/*End for Skills*/

/*Styling for Contact*/

.contact {
	background-color: brown;
	height: 100vh;
}

/*End for Contact*/